.parallax-hero {
  margin-block-start: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

.parallax-hero-background {
  height: 150vh; 
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: darkgrey;
  background-image: linear-gradient(darkgrey, white);
}

.parallax-hero-container {
  max-width: 1280px;
  height: 100vh;
  position: relative;
  margin: auto;
}

.parallax-hero-content {
  color: white;
  display: table;
  margin: 0 auto;
  position: relative;
  border: 5px solid white;
  padding: 2rem;
  font-size: 3rem;
}

.text-rd {
  color: firebrick;
}