.parallax-hero {
  margin-block-start: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

.parallax-hero-background {
  height: 130vh; 
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: darkgrey;
  background-image: linear-gradient(darkgrey, white);
}

.parallax-hero-container {
  max-width: 1280px;
  height: 100vh;
  position: relative;
  margin: auto;
}

.parallax-hero-content {
  color: white;
  display: table;
  margin: 0 auto;
  position: relative;
  border: 5px solid white;
  padding: 3rem;
  font-size: 3.5rem;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.text-rd {
  color: firebrick;
}