path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.choropleth-section-container {
  height: 107vh;
  background-color: gray;
}

.choropleth-data-attribute {
  color: white;
  font-size: 0.8rem;
  opacity: 0.5;
  text-align: center;
  padding-top: 2rem;
}

.choropleth-title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.choropleth-header {
  text-align: center;
  background-color: gray;
  padding-top: 5rem;
}

.choropleth-container {
  width: 100vw;
  display: flex;
  align-items: center;
}

.choropleth-graph {
  margin: 0 auto;
}

.districts :hover {
  fill: orange;
}

.districts {
  fill: #DCDCDC;
  stroke: #fff;
  stroke-width: .1px;
}

.underline-year {
  text-decoration: underline;
}

@media only screen and (max-width: 1441px) {
  .choropleth-section-container {
    height: 125vh !important;
  }

  .choropleth-buttons {
    padding-top: 1rem !important;
    padding-bottom: 0 !important;
  }

  .choropleth-data-attribute {
    padding-top: 0 !important;
  }
}