path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.choropleth-section-container {
  height: 110vh;
  background-color: gray;
}

.choropleth-data-attribute {
  color: white;
  font-size: 0.8rem;
  opacity: 0.5;
  text-align: center
}

.choropleth-title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
}

.choropleth-header {
  text-align: center;
  background-color: gray;
  padding-top: 50px;
}

.choropleth-container {
  width: 100vw;
  display: flex;
  align-items: center;
}

.choropleth-graph {
  margin: 0 auto;
}

.districts :hover {
  fill: orange;
}

.districts {
  fill: #DCDCDC;
  stroke: #fff;
  stroke-width: .1px;
}
