path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.choropleth-container {
  height: 105vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.districts {
  fill: #DCDCDC;
}

.districts :hover {
  fill: orange;
}

.district-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}
